<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>회원가입</h2>
    <form action="/member/save" method="post" enctype="multipart/form-data">
        이메일: <input type="text" id="memberEmail" name="memberEmail" onblur="emailDuplicate()">
        <p id="email-check">

        </p>
        비밀번호: <input type="text" name="memberPassword"> <br>
        이름: <input type="text" name="memberName"> <br>
        전화번호: <input type="text" name="memberMobile"> <br>
        프로필사진: <input type="file" name="memberProfile"> <br>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>