<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <h2>회원가입</h2>
    <form action="/member/save" method="post" enctype="multipart/form-data">
        이메일: <input type="text" id="memberEmail" name="memberEmail" onblur="emailDuplicate()">
        <p id="email-check">

        </p>
        비밀번호: <input type="text" name="memberPassword"> <br>
        이름: <input type="text" name="memberName"> <br>
        전화번호: <input type="text" name="memberMobile"> <br>
        프로필사진: <input type="file" name="memberProfile"> <br>
        <input type="submit" value="회원가입">
    </form>
</body>
<script th:inline="javascript">
    const emailDuplicate = () => {
        const email = document.getElementById("memberEmail").value;
        const checkResult = document.getElementById("email-check");
        $.ajax({
            type: "post",
            url: "/member/emailCheck",
            dataType: "text",
            data: {
                "memberEmail": email
            },
            success: function (result) {
                if(result == "ok") {
                    checkResult.innerHTML = "사용 가능한 아이디 입니다.";
                    checkResult.style.color = "green";
                } else {
                    checkResult.innerHTML = "이미 사용중인 아이디 입니다.";
                    checkResult.style.color = "red";
                }
            },
            error: function () {
                alert("ajax 실패");
            }
        });
    }
</script>
</html>