<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <h2>detail.html</h2>
    글번호: <span th:text="${board.id}"></span> <br>
    제목: <span th:text="${board.boardTitle}"></span> <br>
    작성자: <span th:text="${board.boardWriter}"></span> <br>
    내용: <span th:text="${board.boardContents}"></span> <br>
    조회수: <span th:text="${board.boardHits}"></span> <br>
    작성일자: <span th:text="${board.boardCreatedDate}"></span> <br>
    첨부파일: <img th:src="@{|/upload/${board.boardFileName}|}" width="100" height="100" alt="">
    <span th:if="${session.loginEmail}">
        <span th:if="${session.loginEmail == board.boardWriter}"> <br>
            <button th:onclick="updateBoard()">수정</button>
            <button th:onclick="deleteBoard()">삭제</button>
        </span>
        <span th:if="${session.loginEmail.toString().equals('admin')}">
            <button th:onclick="deleteBoard()">삭제</button>
        </span>
    </span>
    <p id="pw">

    </p>
    <div class="container mt-5">
        <div id="comment-write" class="input-group mb-3">
            <div class="form-floating">
                <input type="text" id="commentWriter" name="commentWriter" class="form-control" th:value="${session.loginEmail}" readonly>
                <label for="commentWriter">작성자</label>
            </div>
            <div class="form-floating">
                <input type="text" id="commentContents" name="commentContents" class="form-control" placeholder="내용">
                <label for="commentContents">내용</label>
            </div>
            <button onclick="commentWrite()" class="btn btn-primary">댓글작성</button>
        </div>

        <div id="comment-list">
            <table class="table">
                <tr>
                    <th>댓글번호</th>
                    <th>작성자</th>
                    <th>내용</th>
                    <th>작성시간</th>
                </tr>
                <tr th:each="comment: ${commentList}">
                    <td th:text="${comment.id}"></td>
                    <td th:text="${comment.commentWriter}"></td>
                    <td th:text="${comment.commentContents}"></td>
                    <td th:text="*{#temporals.format(comment.commentCreatedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script th:inline="javascript">
    const id = [[${board.id}]];
    const updateBoard = () => {
        location.href = "/board/update/" + id;
    }
    const deleteBoard = () => {
        location.href = "/board/delete/" + id;
    }

    const commentWrite = () => {
        const boardId = [[${board.id}]];
        const commentWriter = document.getElementById("commentWriter").value;
        const commentContents = document.getElementById("commentContents").value;
        $.ajax({
            type: "post",
            url: "/comment/save",
            data: {
                "boardId": boardId,
                "commentWriter": commentWriter,
                "commentContents": commentContents
            },
            dataType: "json",
            success: function (result) {
                console.log(result);
                let output = "<table class='table'>";
                output += "<tr><th>댓글번호</th>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th></tr>";
                for(let i in result){
                    output += "<tr>";
                    output += "<td>"+result[i].id+"</td>";
                    output += "<td>"+result[i].commentWriter+"</td>";
                    output += "<td>"+result[i].commentContents+"</td>";
                    output += "<td>"+moment(result[i].commentCreatedDate).format("YYYY-MM-DD HH:mm:ss")+"</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentContents').value='';
            },
            error: function() {
                alert("오류");
            }
        });
    }
</script>
</html>