<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
    <h2>update.html</h2>
    <form action="/board/update" name="updateForm" method="post" enctype="multipart/form-data">
        <input type="hidden" th:value="${board.id}" name="id">
        제목: <input type="text" name="boardTitle" th:value="${board.boardTitle}"> <br>
        작성자: <input type="text" name="boardWriter" th:value="${board.boardWriter}" readonly> <br>
        내용: <input type="text" name="boardContents" th:value="${board.boardContents}"> <br>
        첨부파일: <img th:src="@{|/upload/${board.boardFileName}|}" width="101" height="100" alt=""> <br>
        <input type="file" name="boardFile">
        <input type="button" onclick="update()" value="수정">
    </form>
</body>
<script th:inline="javascript">
    const update = () => {
        updateForm.submit();
    }
</script>
</html>